body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.profile_container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 0;
}

.job-title {
    color: #777;
    margin: 10px 0;
}

.bio, .current_location, .email, .social_links, .current-time {
    margin: 10px 0;
}

.social_links a {
    margin: 0 5px;
    text-decoration: none;
    color: #0073b1;
}

.social_links a:hover {
    text-decoration: underline;
}
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

.dark-mode-toggle:hover {
    background-color: #555;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .profile_container {
    background-color: #1e1e1e;
}

body.dark-mode a {
    color: #bb86fc;
}